/* Variables */

:root {
    /* Color */
    --primary_color: rgb(29, 201, 227);
    --secondary_color: rgba(233, 30, 99, 1.0);
}

/* Fonts */

h4 {
    font-size: 2.7em;
    font-weight: 100;
    line-height: 1em;
    letter-spacing: 0.1em;
    color: black;
    text-align: center;
}

#report {
    display: none;
}

/* Content */

body {
    background: linear-gradient(30deg, var(--primary_color), var(--primary_color));
    font-size: 48px;
    overflow: hidden;
}

span {
    font-size: 14px;
}

/* Material */

.mdl-textfield {
    width: 80% !important;
}

.mdl-grid {
    background-image: url("../images/");
    background-repeat: no-repeat;
    height: 100vh;
    padding: 0 !important;
}

.mdl-cell--4-col {
    width: 33vw !important;
    padding: 0;
    vertical-align: middle;
    display: flex;
}

/* Id */

#init-box-position {
    margin: auto;
}

#container-icon {
    margin: auto;
}

#btnEnter {
    transition: visibility 0s, opacity 0.5s linear;
}

#btnClose {
    transition: transform 1s;
    display: none;
}

#btnClose:hover {
    transform: rotate(180deg);
}

#time.mdl-textfield {
    padding: 0 !important;
}

#btnSingUp {
    display: none !important;
}

/* Class */

.init-box {
    height: auto;
    border-radius: 10px;
    background: white;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 2%;
}

.icon {
    position: absolute;
    display: inline-block;
    top: 5%;
    width: 10%;
}

.mdl-button--fab.mdl-button--mini-fab {
    float: right;
    right: 5%;
    width: 30px !important;
    height: 30px !important;
    min-width: 30px !important;
    box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, .03), 0 1px 1px 0 rgba(0, 0, 0, .05);
}

.mdl-button--fab.mdl-button--colored {
    background: white !important;
    color: var(--secondary_color) !important;
}

.title-promo {
    color: var(--secondary_color) !important;
    font-size: 18px !important;
}

.mdl-textfield {
    padding: 22px 0 !important;
}

/*---------------------------------------
   Mobile Responsive         
-----------------------------------------*/

@media (max-width: 1200px) {
    #container-icon {
        margin: 0 !important;
    }
    .icon {
        position: absolute;
        display: inline-block;
        top: 1%;
        height: 7%;
        width: auto;
    }
    .mdl-cell--4-col {
        width: auto !important;
    }
    .mdl-cell:first-child {
        display: none !important;
    }
}